In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.pyplot as pltF
import seaborn as sns
from math import sqrt
from numpy import concatenate
from matplotlib import pyplot
from pandas import read_csv
from pandas import DataFrame
from pandas import concat

In [4]:
df = pd.read_csv('data.csv')
del df['Unnamed: 0']
df

,Name,Age,Nationality,Overall,Potential,Club,Value,Preferred Foot,International Reputation,Weak Foot,...,SprintSpeed,ShotPower,Jumping,Stamina,Strength,Aggression,Vision,StandingTackle,GKPositioning,GKReflexes
0,L. Messi,31,Argentina,94,94,FC Barcelona,€110.5M,Left,5.0,4.0,...,86.0,85.0,68.0,72.0,59.0,48.0,94.0,28.0,14.0,8.0
1,Cristiano Ronaldo,33,Portugal,94,94,Juventus,€77M,Right,5.0,4.0,...,91.0,95.0,95.0,88.0,79.0,63.0,82.0,31.0,14.0,11.0
2,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,€118.5M,Right,5.0,5.0,...,90.0,80.0,61.0,81.0,49.0,56.0,87.0,24.0,15.0,11.0
3,De Gea,27,Spain,91,93,Manchester United,€72M,Right,4.0,3.0,...,58.0,31.0,67.0,43.0,64.0,38.0,68.0,21.0,88.0,94.0
4,K. De Bruyne,27,Belgium,91,92,Manchester City,€102M,Right,4.0,5.0,...,76.0,91.0,63.0,90.0,75.0,76.0,94.0,58.0,10.0,13.0
5,E. Hazard,27,Belgium,91,91,Chelsea,€93M,Right,4.0,4.0,...,88.0,82.0,56.0,83.0,66.0,54.0,89.0,27.0,8.0,8.0
6,L. Modrić,32,Croatia,91,91,Real Madrid,€67M,Right,4.0,4.0,...,72.0,79.0,68.0,89.0,58.0,62.0,92.0,76.0,14.0,9.0
7,L. Suárez,31,Uruguay,91,91,FC Barcelona,€80M,Right,5.0,4.0,...,75.0,86.0,69.0,90.0,83.0,87.0,84.0,45.0,33.0,37.0
8,Sergio Ramos,32,Spain,91,91,Real Madrid,€51M,Right,4.0,3.0,...,75.0,79.0,93.0,84.0,83.0,88.0,63.0,92.0,7.0,11.0
9,J. Oblak,25,Slovenia,90,93,Atlético Madrid,€68M,Right,3.0,3.0,...,60.0,22.0,76.0,41.0,78.0,34.0,70.0,12.0,88.0,89.0
10,R. Lewandowski,29,Poland,90,90,FC Bayern München,€77M,Right,4.0,4.0,...,78.0,88.0,84.0,78.0,84.0,80.0,77.0,42.0,8.0,10.0
11,T. Kroos,28,Germany,90,90,Real Madrid,€76.5M,Right,4.0,5.0,...,62.0,87.0,30.0,75.0,73.0,60.0,86.0,79.0,7.0,10.0
12,D. Godín,32,Uruguay,90,90,Atlético Madrid,€44M,Right,3.0,3.0,...,68.0,67.0,91.0,66.0,88.0,89.0,52.0,89.0,5.0,15.0
13,David Silva,32,Spain,90,90,Manchester City,€60M,Left,4.0,2.0,...,64.0,72.0,64.0,78.0,52.0,57.0,92.0,53.0,6.0,12.0
14,N. Kanté,27,France,89,90,Chelsea,€63M,Right,3.0,3.0,...,78.0,71.0,77.0,96.0,76.0,90.0,79.0,91.0,7.0,10.0
15,P. Dybala,24,Argentina,89,94,Juventus,€89M,Left,3.0,3.0,...,83.0,82.0,75.0,80.0,65.0,48.0,87.0,20.0,5.0,8.0
16,H. Kane,24,England,89,91,Tottenham Hotspur,€83.5M,Right,3.0,4.0,...,72.0,88.0,78.0,89.0,84.0,76.0,80.0,36.0,14.0,11.0
17,A. Griezmann,27,France,89,90,Atlético Madrid,€78M,Left,4.0,3.0,...,85.0,80.0,90.0,83.0,62.0,69.0,83.0,47.0,13.0,14.0
18,M. ter Stegen,26,Germany,89,92,FC Barcelona,€58M,Right,3.0,4.0,...,50.0,22.0,79.0,35.0,79.0,43.0,69.0,13.0,85.0,90.0
19,T. Courtois,26,Belgium,89,90,Real Madrid,€53.5M,Left,4.0,2.0,...,52.0,36.0,68.0,38.0,70.0,23.0,44.0,18.0,86.0,88.0
20,Sergio Busquets,29,Spain,89,89,FC Barcelona,€51.5M,Right,4.0,3.0,...,52.0,61.0,66.0,86.0,77.0,85.0,87.0,86.0,9.0,13.0
21,E. Cavani,31,Uruguay,89,89,Paris Saint-Germain,€60M,Right,4.0,4.0,...,76.0,87.0,88.0,92.0,78.0,84.0,77.0,45.0,13.0,10.0
22,M. Neuer,32,Germany,89,89,FC Bayern München,€38M,Right,5.0,4.0,...,60.0,25.0,77.0,43.0,80.0,29.0,70.0,10.0,87.0,87.0
23,S. Agüero,30,Argentina,89,89,Manchester City,€64.5M,Right,4.0,4.0,...,80.0,88.0,81.0,76.0,73.0,65.0,83.0,20.0,11.0,14.0
24,G. Chiellini,33,Italy,89,89,Juventus,€27M,Left,4.0,3.0,...,75.0,78.0,89.0,65.0,89.0,92.0,50.0,93.0,4.0,3.0
25,K. Mbappé,19,France,88,95,Paris Saint-Germain,€81M,Right,3.0,4.0,...,96.0,79.0,75.0,83.0,71.0,62.0,82.0,34.0,11.0,6.0
26,M. Salah,26,Egypt,88,89,Liverpool,€69.5M,Left,3.0,3.0,...,91.0,77.0,68.0,84.0,70.0,63.0,82.0,43.0,11.0,14.0
27,Casemiro,26,Brazil,88,90,Real Madrid,€59.5M,Right,3.0,3.0,...,65.0,86.0,88.0,87.0,89.0,87.0,77.0,90.0,12.0,12.0
28,J. Rodríguez,26,Colombia,88,89,FC Bayern München,€69.5M,Left,4.0,3.0,...,67.0,86.0,54.0,70.0,68.0,64.0,89.0,41.0,5.0,14.0
29,L. Insigne,27,Italy,88,88,Napoli,€62M,Right,3.0,3.0,...,86.0,75.0,53.0,75.0,44.0,34.0,87.0,24.0,9.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18177,R. Roache,18,Republic of Ireland,48,69,Blackpool,€70K,Right,1.0,3.0,...,54.0,46.0,68.0,51.0,44.0,25.0,41.0,16.0,7.0,12.0
18178,L. Wahlstedt,18,Sweden,48,65,Dalkurd FF,€50K,Right,1.0,2.0,...,28.0,15.0,48.0,20.0,38.0,20.0,18.0,11.0,45.0,51.0
18179,J. Williams,17,England,48,64,Northampton Town,€50K,Right,1.0,3.0,...,59.0,38.0,70.0,55.0,54.0,47.0,27.0,51.0,11.0,8.0
18180,M. Hurst,22,Scotland,48,58,St. Johnstone FC,€40K,Right,1.0,2.0,...,42.0,25.0,55.0,33.0,58.0,20.0,20.0,15.0,50.0,45.0
18181,C. Maher,17,Republic of Ireland,48,66,Bray Wanderers,€50K,Right,1.0,2.0,...,57.0,39.0,59.0,60.0,48.0,53.0,37.0,49.0,9.0,10.0
18182,Y. Góez,18,Colombia,48,65,Atlético Nacional,€50K,Right,1.0,3.0,...,62.0,40.0,61.0,54.0,48.0,50.0,45.0,42.0,8.0,6.0
18183,K. Pilkington,44,England,48,48,Cambridge United,€0,Right,1.0,2.0,...,17.0,23.0,45.0,22.0,44.0,24.0,11.0,15.0,49.0,46.0
18184,D. Horton,18,England,48,55,Lincoln City,€40K,Right,1.0,3.0,...,57.0,47.0,64.0,59.0,66.0,53.0,46.0,49.0,14.0,15.0
18185,E. Tweed,19,Republic of Ireland,48,59,Derry City,€50K,Right,1.0,3.0,...,61.0,47.0,60.0,60.0,43.0,52.0,49.0,39.0,5.0,8.0
18186,Zhang Yufeng,20,China PR,47,64,Beijing Renhe FC,€60K,Right,1.0,3.0,...,70.0,42.0,55.0,46.0,60.0,55.0,50.0,41.0,6.0,8.0
18187,C. Ehlich,19,Germany,47,59,SpVgg Unterhaching,€40K,Right,1.0,3.0,...,62.0,44.0,69.0,61.0,59.0,38.0,38.0,42.0,15.0,12.0
18188,L. Collins,17,Wales,47,62,Newport County,€60K,Right,1.0,3.0,...,72.0,49.0,61.0,33.0,40.0,36.0,47.0,38.0,13.0,10.0
18189,A. Kaltner,18,Germany,47,61,SpVgg Unterhaching,€60K,Right,1.0,3.0,...,66.0,38.0,81.0,55.0,60.0,28.0,41.0,15.0,12.0,8.0
18190,L. Watkins,18,England,47,67,Cambridge United,€60K,Right,1.0,3.0,...,55.0,41.0,54.0,61.0,55.0,44.0,54.0,44.0,10.0,8.0
18191,J. Norville-Williams,18,England,47,65,Cambridge United,€50K,Left,1.0,3.0,...,52.0,26.0,61.0,38.0,55.0,55.0,39.0,42.0,14.0,12.0
18192,S. Squire,18,England,47,64,Cambridge United,€50K,Right,1.0,3.0,...,66.0,41.0,61.0,55.0,59.0,55.0,45.0,41.0,12.0,13.0
18193,N. Fuentes,18,Chile,47,64,Unión Española,€50K,Right,1.0,2.0,...,58.0,22.0,56.0,54.0,40.0,48.0,30.0,48.0,12.0,11.0
18194,J. Milli,18,Italy,47,65,Lecce,€50K,Right,1.0,3.0,...,14.0,22.0,33.0,15.0,59.0,17.0,28.0,10.0,40.0,44.0
18195,S. Griffin,18,Republic of Ireland,47,67,Waterford FC,€60K,Right,1.0,3.0,...,58.0,53.0,62.0,54.0,49.0,51.0,40.0,37.0,7.0,13.0
18196,K. Fujikawa,19,Japan,47,61,Júbilo Iwata,€60K,Right,1.0,3.0,...,58.0,42.0,63.0,35.0,51.0,55.0,51.0,44.0,11.0,8.0
18197,D. Holland,18,Republic of Ireland,47,61,Cork City,€60K,Right,1.0,3.0,...,62.0,50.0,55.0,50.0,38.0,37.0,48.0,47.0,10.0,15.0
18198,J. Livesey,18,England,47,70,Burton Albion,€60K,Right,1.0,2.0,...,24.0,26.0,56.0,20.0,38.0,25.0,37.0,11.0,42.0,48.0
18199,M. Baldisimo,18,Canada,47,69,Vancouver Whitecaps FC,€70K,Right,1.0,3.0,...,63.0,49.0,57.0,42.0,43.0,53.0,40.0,49.0,14.0,15.0
18200,J. Young,18,Scotland,47,62,Swindon Town,€60K,Left,1.0,2.0,...,48.0,44.0,77.0,31.0,31.0,26.0,37.0,17.0,12.0,11.0
18201,D. Walsh,18,Republic of Ireland,47,68,Waterford FC,€60K,Left,1.0,3.0,...,52.0,39.0,74.0,39.0,52.0,44.0,31.0,47.0,11.0,13.0
18202,J. Lundstram,19,England,47,65,Crewe Alexandra,€60K,Right,1.0,2.0,...,57.0,43.0,55.0,40.0,47.0,46.0,52.0,48.0,8.0,9.0
18203,N. Christoffersson,19,Sweden,47,63,Trelleborgs FF,€60K,Right,1.0,2.0,...,39.0,41.0,47.0,43.0,67.0,47.0,33.0,15.0,5.0,12.0
18204,B. Worman,16,England,47,67,Cambridge United,€60K,Right,1.0,3.0,...,69.0,45.0,60.0,55.0,32.0,32.0,43.0,13.0,6.0,13.0
18205,D. Walker-Rice,17,England,47,66,Tranmere Rovers,€60K,Right,1.0,3.0,...,60.0,64.0,42.0,40.0,48.0,33.0,47.0,25.0,8.0,9.0
18206,G. Nugent,16,England,46,66,Tranmere Rovers,€60K,Right,1.0,3.0,...,55.0,43.0,62.0,47.0,60.0,56.0,49.0,43.0,12.0,9.0

In [17]:
# je regarde mes NaN
df.isna().sum()

Name                        0
Age                         0
Nationality                 0
Overall                     0
Potential                   0
Club                        0
Value                       0
Preferred Foot              0
International Reputation    0
Weak Foot                   0
Skill Moves                 0
Work Rate                   0
Position                    0
Jersey Number               0
Joined                      0
Contract Valid Until        0
Height                      0
Weight                      0
Crossing                    0
Finishing                   0
HeadingAccuracy             0
ShortPassing                0
Dribbling                   0
BallControl                 0
Acceleration                0
SprintSpeed                 0
ShotPower                   0
Jumping                     0
Stamina                     0
Strength                    0
Aggression                  0
Vision                      0
StandingTackle              0
GKPositioning               0
GKReflexes                  0
dtype: int64

In [4]:
#je supprine les dropna de la collone
df=df.dropna(subset=['Club'])
df=df.dropna(subset=['Contract Valid Until'])

In [8]:
#je mets tout les indexes dans une variable
i = df[(df['Joined'].isna())&(df['Contract Valid Until'])]['Joined'].index

In [24]:
df[['Joined']]

          Joined
0     2004-07-01
1     2018-07-10
2     2017-08-03
3     2011-07-01
4     2015-08-30
5     2012-07-01
6     2012-08-01
7     2014-07-11
8     2005-08-01
9     2014-07-16
10    2014-07-01
11    2014-07-17
12    2010-08-04
13    2010-07-14
14    2016-07-16
15    2015-07-01
16    2010-07-01
17    2014-07-28
18    2014-07-01
19    2018-08-09
20    2008-09-01
21    2013-07-16
22    2011-07-01
23    2011-07-28
24    2005-07-01
25    2018-07-01
26    2017-07-01
27    2013-07-11
28    1972-09-09
29    2010-07-01
...          ...
18177 2016-12-06
18178 2018-04-04
18179 2018-07-01
18180 2013-07-01
18181 2017-01-01
18182 2018-09-08
18183 2018-08-17
18184 2017-11-04
18185 2018-02-23
18186 2016-07-11
18187 2017-07-01
18188 2017-07-01
18189 2017-07-01
18190 2018-07-01
18191 2018-07-01
18192 2018-01-01
18193 2018-01-01
18194 2018-07-01
18195 2018-03-16
18196 2017-07-01
18197 2018-10-05
18198 2018-11-10
18199 2018-07-17
18200 2015-10-17
18201 2018-04-20
18202 2017-05-03
18203 2018-03-19
18204 2017-07-01
18205 2018-04-24
18206 2018-10-30

[17918 rows x 1 columns]

In [10]:
#changer les Nan en dates
df['Joined']=df['Joined'].fillna("1972-09-09")

In [19]:
# je change la colonnes en data time
df['Joined'] = pd.to_datetime(df['Joined'],infer_datetime_format=True)

In [20]:
df['Contract Valid Until'] = pd.to_datetime(df['Contract Valid Until'],infer_datetime_format=True)

In [22]:
#je change le tout en timestamp
df['Joined'].map(lambda x : x.strftime("%s"))

0        1088632800
1        1531173600
2        1501711200
3        1309471200
4        1440885600
5        1341093600
6        1343772000
7        1405029600
8        1122847200
9        1405461600
10       1404165600
11       1405548000
12       1280872800
13       1279058400
14       1468620000
15       1435701600
16       1277935200
17       1406498400
18       1404165600
19       1533765600
20       1220220000
21       1373925600
22       1309471200
23       1311804000
24       1120168800
25       1530396000
26       1498860000
27       1373493600
28         84841200
29       1277935200
            ...
18177    1480978800
18178    1522792800
18179    1530396000
18180    1372629600
18181    1483225200
18182    1536357600
18183    1534456800
18184    1509750000
18185    1519340400
18186    1468188000
18187    1498860000
18188    1498860000
18189    1498860000
18190    1530396000
18191    1530396000
18192    1514761200
18193    1514761200
18194    1530396000
18195    1521154800
18196    1498860000
18197    1538690400
18198    1541804400
18199    1531778400
18200    1445032800
18201    1524175200
18202    1493762400
18203    1521414000
18204    1498860000
18205    1524520800
18206    1540854000
Name: Joined, Length: 17918, dtype: object

In [23]:
#changer le df en timestamp
df['Contract Valid Until'].map(lambda x : x.strftime("%s"))

0        1609455600
1        1640991600
2        1640991600
3        1577833200
4        1672527600
5        1577833200
6        1577833200
7        1609455600
8        1577833200
9        1609455600
10       1609455600
11       1640991600
12       1546297200
13       1577833200
14       1672527600
15       1640991600
16       1704063600
17       1672527600
18       1640991600
19       1704063600
20       1672527600
21       1577833200
22       1609455600
23       1609455600
24       1577833200
25       1640991600
26       1672527600
27       1609455600
28       1561845600
29       1640991600
            ...
18177    1546297200
18178    1514761200
18179    1577833200
18180    1546297200
18181    1514761200
18182    1609455600
18183    1672527600
18184    1609455600
18185    1514761200
18186    1546297200
18187    1577833200
18188    1609455600
18189    1577833200
18190    1609455600
18191    1609455600
18192    1609455600
18193    1609455600
18194    1609455600
18195    1514761200
18196    1609455600
18197    1514761200
18198    1609455600
18199    1609455600
18200    1546297200
18201    1514761200
18202    1546297200
18203    1577833200
18204    1609455600
18205    1546297200
18206    1546297200
Name: Contract Valid Until, Length: 17918, dtype: object

In [25]:
df['Contract Valid Until'] = df['Contract Valid Until'].map(lambda x : x.strftime("%s"))
df['Joined'] = df['Joined'].map(lambda x : x.strftime("%s"))

In [26]:
# je fais mon masque
#je prend tout les Nan de ma collone par rapport à une autre
#j'utilise lambda pour prendre l'année et la changer
df['Contract Valid Until'].loc[i].map(lambda x : float(x)-63072000)

28       1.498774e+09
38       1.498774e+09
91       1.498774e+09
166      1.483139e+09
176      1.498774e+09
332      1.498774e+09
354      1.498774e+09
357      1.498774e+09
427      1.498774e+09
434      1.498774e+09
437      1.498774e+09
444      1.498774e+09
460      1.498774e+09
496      1.498774e+09
504      1.498774e+09
562      1.498774e+09
569      1.498774e+09
601      1.498774e+09
609      1.498774e+09
617      1.498774e+09
620      1.527804e+09
702      1.498774e+09
730      1.530396e+09
732      1.498774e+09
779      1.498774e+09
782      1.530396e+09
794      1.498774e+09
802      1.483139e+09
809      1.498774e+09
823      1.498774e+09
             ...
16922    1.498774e+09
16950    1.498774e+09
16985    1.498774e+09
16999    1.498774e+09
17019    1.498774e+09
17053    1.484867e+09
17069    1.483225e+09
17130    1.498774e+09
17168    1.498774e+09
17195    1.483571e+09
17269    1.498774e+09
17280    1.498774e+09
17347    1.484176e+09
17377    1.498774e+09
17416    1.483139e+09
17437    1.498774e+09
17446    1.498774e+09
17454    1.498774e+09
17462    1.483571e+09
17500    1.498774e+09
17545    1.498774e+09
17548    1.483225e+09
17549    1.483225e+09
17572    1.498774e+09
17634    1.498774e+09
17978    1.498774e+09
17979    1.483139e+09
18026    1.483139e+09
18031    1.483139e+09
18056    1.498774e+09
Name: Contract Valid Until, Length: 1264, dtype: float64

In [27]:
#puis je mets tout dans la collones ciblé
df['Joined'].loc[i] = df['Contract Valid Until'].loc[i].map(lambda x : float(x)-63072000)

/home/funnyeoman/anaconda3/envs/dev/lib/python3.7/site-packages/pandas/core/indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [28]:
df['Value'] = df['Value'].str.replace("€","").str.replace('M',"000000").str.replace("K","000").str.replace(".","")

In [29]:
df['Height'] = df['Height'].str.replace("'",".")
df['Height'] = df['Height'].astype(float)

In [30]:
df['Height'] = df['Height']*0.3048

In [31]:
df['Height']

0        1.737360
1        1.889760
2        1.798320
3        1.950720
4        1.557528
5        1.767840
6        1.767840
7        1.828800
8        1.828800
9        1.889760
10       1.828800
11       1.828800
12       1.889760
13       1.767840
14       1.706880
15       1.554480
16       1.889760
17       1.798320
18       1.889760
19       2.011680
20       1.889760
21       1.859280
22       1.950720
23       1.767840
24       1.889760
25       1.554480
26       1.798320
27       1.859280
28       1.557528
29       1.645920
           ...
18177    1.554480
18178    1.828800
18179    1.889760
18180    1.859280
18181    1.557528
18182    1.554480
18183    1.889760
18184    1.859280
18185    1.557528
18186    1.554480
18187    1.554480
18188    1.554480
18189    1.554480
18190    1.798320
18191    1.557528
18192    1.859280
18193    1.767840
18194    1.920240
18195    1.767840
18196    1.737360
18197    1.554480
18198    1.557528
18199    1.706880
18200    1.798320
18201    1.859280
18202    1.798320
18203    1.920240
18204    1.767840
18205    1.554480
18206    1.554480
Name: Height, Length: 17918, dtype: float64

In [32]:
df['Weight'] = df['Weight'].str.replace("lbs","")
df['Weight'] = df['Weight'].astype(float)
df['Weight'] = df['Weight']*0.453592

In [33]:
df['Joined']  = df['Joined'] .astype(int)               
df['Contract Valid Until'] = df['Contract Valid Until'].astype(int)

In [34]:
df['Club']

0                  FC Barcelona
1                      Juventus
2           Paris Saint-Germain
3             Manchester United
4               Manchester City
5                       Chelsea
6                   Real Madrid
7                  FC Barcelona
8                   Real Madrid
9               Atlético Madrid
10            FC Bayern München
11                  Real Madrid
12              Atlético Madrid
13              Manchester City
14                      Chelsea
15                     Juventus
16            Tottenham Hotspur
17              Atlético Madrid
18                 FC Barcelona
19                  Real Madrid
20                 FC Barcelona
21          Paris Saint-Germain
22            FC Bayern München
23              Manchester City
24                     Juventus
25          Paris Saint-Germain
26                    Liverpool
27                  Real Madrid
28            FC Bayern München
29                       Napoli
                  ...
18177                 Blackpool
18178                Dalkurd FF
18179          Northampton Town
18180          St. Johnstone FC
18181            Bray Wanderers
18182         Atlético Nacional
18183          Cambridge United
18184              Lincoln City
18185                Derry City
18186          Beijing Renhe FC
18187        SpVgg Unterhaching
18188            Newport County
18189        SpVgg Unterhaching
18190          Cambridge United
18191          Cambridge United
18192          Cambridge United
18193            Unión Española
18194                     Lecce
18195              Waterford FC
18196              Júbilo Iwata
18197                 Cork City
18198             Burton Albion
18199    Vancouver Whitecaps FC
18200              Swindon Town
18201              Waterford FC
18202           Crewe Alexandra
18203            Trelleborgs FF
18204          Cambridge United
18205           Tranmere Rovers
18206           Tranmere Rovers
Name: Club, Length: 17918, dtype: object

In [35]:
df['Work Rate']

0        Medium/ Medium
1             High/ Low
2          High/ Medium
3        Medium/ Medium
4            High/ High
5          High/ Medium
6            High/ High
7          High/ Medium
8          High/ Medium
9        Medium/ Medium
10         High/ Medium
11       Medium/ Medium
12         Medium/ High
13         High/ Medium
14         Medium/ High
15         High/ Medium
16           High/ High
17           High/ High
18       Medium/ Medium
19       Medium/ Medium
20       Medium/ Medium
21           High/ High
22       Medium/ Medium
23         High/ Medium
24         Medium/ High
25         High/ Medium
26         High/ Medium
27         Medium/ High
28       Medium/ Medium
29         High/ Medium
              ...
18177    Medium/ Medium
18178    Medium/ Medium
18179    Medium/ Medium
18180    Medium/ Medium
18181    Medium/ Medium
18182       Low/ Medium
18183    Medium/ Medium
18184    Medium/ Medium
18185    Medium/ Medium
18186    Medium/ Medium
18187      High/ Medium
18188    Medium/ Medium
18189    Medium/ Medium
18190    Medium/ Medium
18191      Medium/ High
18192       Low/ Medium
18193    Medium/ Medium
18194    Medium/ Medium
18195    Medium/ Medium
18196    Medium/ Medium
18197    Medium/ Medium
18198    Medium/ Medium
18199      Medium/ High
18200    Medium/ Medium
18201    Medium/ Medium
18202    Medium/ Medium
18203    Medium/ Medium
18204    Medium/ Medium
18205    Medium/ Medium
18206    Medium/ Medium
Name: Work Rate, Length: 17918, dtype: object

In [5]:
col= ['Nationality','Club','Preferred Foot','Work Rate','Position']
dico = []
for elem in col :
    liste = df[elem].unique()
    list_val = range(len(df[elem].unique()))
    df[elem] = 
    d1 = dict(zip(liste,list_val))
    dico.append(d1)

In [39]:
d = dict(zip(col,dico))

{'Nationality': {'Argentina': 0,
  'Portugal': 1,
  'Brazil': 2,
  'Spain': 3,
  'Belgium': 4,
  'Croatia': 5,
  'Uruguay': 6,
  'Slovenia': 7,
  'Poland': 8,
  'Germany': 9,
  'France': 10,
  'England': 11,
  'Italy': 12,
  'Egypt': 13,
  'Colombia': 14,
  'Denmark': 15,
  'Gabon': 16,
  'Wales': 17,
  'Senegal': 18,
  'Costa Rica': 19,
  'Slovakia': 20,
  'Netherlands': 21,
  'Bosnia Herzegovina': 22,
  'Morocco': 23,
  'Serbia': 24,
  'Algeria': 25,
  'Austria': 26,
  'Greece': 27,
  'Chile': 28,
  'Sweden': 29,
  'Korea Republic': 30,
  'Finland': 31,
  'Guinea': 32,
  'Montenegro': 33,
  'Armenia': 34,
  'Switzerland': 35,
  'Norway': 36,
  'Czech Republic': 37,
  'Scotland': 38,
  'Ghana': 39,
  'Central African Rep.': 40,
  'DR Congo': 41,
  'Ivory Coast': 42,
  'Russia': 43,
  'Ukraine': 44,
  'Iceland': 45,
  'Mexico': 46,
  'Jamaica': 47,
  'Albania': 48,
  'Venezuela': 49,
  'Japan': 50,
  'Turkey': 51,
  'Ecuador': 52,
  'Paraguay': 53,
  'Mali': 54,
  'Nigeria': 55,
  'Cameroon': 56,
  'Dominican Republic': 57,
  'Israel': 58,
  'Kenya': 59,
  'Hungary': 60,
  'Republic of Ireland': 61,
  'Romania': 62,
  'United States': 63,
  'Cape Verde': 64,
  'Australia': 65,
  'Peru': 66,
  'Togo': 67,
  'Syria': 68,
  'Zimbabwe': 69,
  'Angola': 70,
  'Burkina Faso': 71,
  'Iran': 72,
  'Estonia': 73,
  'Tunisia': 74,
  'Equatorial Guinea': 75,
  'New Zealand': 76,
  'FYR Macedonia': 77,
  'United Arab Emirates': 78,
  'China PR': 79,
  'Guinea Bissau': 80,
  'Bulgaria': 81,
  'Kosovo': 82,
  'South Africa': 83,
  'Madagascar': 84,
  'Georgia': 85,
  'Tanzania': 86,
  'Gambia': 87,
  'Cuba': 88,
  'Belarus': 89,
  'Uzbekistan': 90,
  'Benin': 91,
  'Congo': 92,
  'Mozambique': 93,
  'Honduras': 94,
  'Canada': 95,
  'Northern Ireland': 96,
  'Cyprus': 97,
  'Saudi Arabia': 98,
  'Curacao': 99,
  'Moldova': 100,
  'Bolivia': 101,
  'Trinidad & Tobago': 102,
  'Sierra Leone': 103,
  'Zambia': 104,
  'Chad': 105,
  'Philippines': 106,
  'Haiti': 107,
  'Comoros': 108,
  'Libya': 109,
  'Panama': 110,
  'São Tomé & Príncipe': 111,
  'Eritrea': 112,
  'Oman': 113,
  'Iraq': 114,
  'Burundi': 115,
  'Fiji': 116,
  'New Caledonia': 117,
  'Lithuania': 118,
  'Luxembourg': 119,
  'Korea DPR': 120,
  'Liechtenstein': 121,
  'St Kitts Nevis': 122,
  'Latvia': 123,
  'Suriname': 124,
  'Uganda': 125,
  'El Salvador': 126,
  'Bermuda': 127,
  'Kuwait': 128,
  'Antigua & Barbuda': 129,
  'Thailand': 130,
  'Mauritius': 131,
  'Guatemala': 132,
  'Liberia': 133,
  'Kazakhstan': 134,
  'Niger': 135,
  'Mauritania': 136,
  'Montserrat': 137,
  'Namibia': 138,
  'Azerbaijan': 139,
  'Guam': 140,
  'Faroe Islands': 141,
  'Nicaragua': 142,
  'Barbados': 143,
  'Lebanon': 144,
  'Palestine': 145,
  'Guyana': 146,
  'Sudan': 147,
  'St Lucia': 148,
  'Ethiopia': 149,
  'Puerto Rico': 150,
  'Grenada': 151,
  'Jordan': 152,
  'Rwanda': 153,
  'Qatar': 154,
  'Afghanistan': 155,
  'Hong Kong': 156,
  'Andorra': 157,
  'Malta': 158,
  'Belize': 159,
  'South Sudan': 160,
  'Indonesia': 161,
  'Botswana': 162},
 'Club': {'FC Barcelona': 0,
  'Juventus': 1,
  'Paris Saint-Germain': 2,
  'Manchester United': 3,
  'Manchester City': 4,
  'Chelsea': 5,
  'Real Madrid': 6,
  'Atlético Madrid': 7,
  'FC Bayern München': 8,
  'Tottenham Hotspur': 9,
  'Liverpool': 10,
  'Napoli': 11,
  'Arsenal': 12,
  'Milan': 13,
  'Inter': 14,
  'Lazio': 15,
  'Borussia Dortmund': 16,
  'Vissel Kobe': 17,
  'Olympique Lyonnais': 18,
  'Roma': 19,
  'Valencia CF': 20,
  'Guangzhou Evergrande Taobao FC': 21,
  'FC Porto': 22,
  'FC Schalke 04': 23,
  'Beşiktaş JK': 24,
  'LA Galaxy': 25,
  'Sporting CP': 26,
  'Real Betis': 27,
  'Olympique de Marseille': 28,
  'RC Celta': 29,
  'Bayer 04 Leverkusen': 30,
  'Real Sociedad': 31,
  'Villarreal CF': 32,
  'Sevilla FC': 33,
  'SL Benfica': 34,
  'AS Saint-Étienne': 35,
  'AS Monaco': 36,
  'Leicester City': 37,
  'Atalanta': 38,
  'Grêmio': 39,
  'Atlético Mineiro': 40,
  'RB Leipzig': 41,
  'Ajax': 42,
  'Dalian YiFang FC': 43,
  'Everton': 44,
  'West Ham United': 45,
  '1. FC Köln': 46,
  'TSG 1899 Hoffenheim': 47,
  'Shanghai SIPG FC': 48,
  'OGC Nice': 49,
  'Al Nassr': 50,
  'Wolverhampton Wanderers': 51,
  'Borussia Mönchengladbach': 52,
  'Hertha BSC': 53,
  'SV Werder Bremen': 54,
  'Cruzeiro': 55,
  'Athletic Club de Bilbao': 56,
  'Torino': 57,
  'Medipol Başakşehir FK': 58,
  'Beijing Sinobo Guoan FC': 59,
  'Crystal Palace': 60,
  'PFC CSKA Moscow': 61,
  'VfL Wolfsburg': 62,
  'Shakhtar Donetsk': 63,
  'Toronto FC': 64,
  'Lokomotiv Moscow': 65,
  'Sassuolo': 66,
  'New York City FC': 67,
  'Fluminense': 68,
  'PSV': 69,
  'Levante UD': 70,
  'Fulham': 71,
  'Watford': 72,
  'Atlanta United': 73,
  'Montpellier HSC': 74,
  'Galatasaray SK': 75,
  'Fenerbahçe SK': 76,
  'SD Eibar': 77,
  'Los Angeles FC': 78,
  'Sampdoria': 79,
  'Al Hilal': 80,
  'VfB Stuttgart': 81,
  'SC Braga': 82,
  'River Plate': 83,
  'Deportivo Alavés': 84,
  'Eintracht Frankfurt': 85,
  'Girona FC': 86,
  'Guangzhou R&F; FC': 87,
  'Burnley': 88,
  'Stoke City': 89,
  'Southampton': 90,
  'Tianjin Quanjian FC': 91,
  'Getafe CF': 92,
  'Beijing Renhe FC': 93,
  'Montreal Impact': 94,
  'Chievo Verona': 95,
  'Genoa': 96,
  'Portland Timbers': 97,
  'Tigres U.A.N.L.': 98,
  'RCD Espanyol': 99,
  'Hebei China Fortune FC': 100,
  'Cagliari': 101,
  'Chicago Fire': 102,
  'DC United': 103,
  'Sagan Tosu': 104,
  'Dynamo Kyiv': 105,
  'Santos': 106,
  'Internacional': 107,
  'América FC (Minas Gerais)': 108,
  'Independiente': 109,
  'Boca Juniors': 110,
  'Cruz Azul': 111,
  '1. FSV Mainz 05': 112,
  'Bournemouth': 113,
  'Spartak Moscow': 114,
  'Racing Club': 115,
  'FC Augsburg': 116,
  'Fiorentina': 117,
  'FC Nantes': 118,
  'Feyenoord': 119,
  'Club Brugge KV': 120,
  'Brighton & Hove Albion': 121,
  'Al Ahli': 122,
  'Jiangsu Suning FC': 123,
  'SC Freiburg': 124,
  'PAOK': 125,
  'Stade Rennais FC': 126,
  'Trabzonspor': 127,
  'SPAL': 128,
  'Portimonense SC': 129,
  'Olympiacos CFP': 130,
  'Club Atlético Huracán': 131,
  'Kasimpaşa SK': 132,
  'Newcastle United': 133,
  'Frosinone': 134,
  'Querétaro': 135,
  'KRC Genk': 136,
  'Hannover 96': 137,
  'Stade Malherbe Caen': 138,
  'Godoy Cruz': 139,
  'Toulouse Football Club': 140,
  'RSC Anderlecht': 141,
  'Huddersfield Town': 142,
  'CD Tondela': 143,
  'Seattle Sounders FC': 144,
  'Hamburger SV': 145,
  'FC Red Bull Salzburg': 146,
  'Rio Ave FC': 147,
  'FC Girondins de Bordeaux': 148,
  'Melbourne Victory': 149,
  'Parma': 150,
  'FC Basel 1893': 151,
  'Al Wehda': 152,
  'BSC Young Boys': 153,
  'KAA Gent': 154,
  'Al Ittihad': 155,
  'Standard de Liège': 156,
  'Shanghai Greenland Shenhua FC': 157,
  'Colo-Colo': 158,
  'Junior FC': 159,
  'West Bromwich Albion': 160,
  'RC Strasbourg Alsace': 161,
  'Göztepe SK': 162,
  'Deportivo Cali': 163,
  'Deportivo Toluca': 164,
  'Bologna': 165,
  'Nagoya Grampus': 166,
  'Amiens SC': 167,
  'Changchun Yatai FC': 168,
  'Club Atlético Lanús': 169,
  'Botafogo': 170,
  'Club América': 171,
  'Udinese': 172,
  'Real Valladolid CF': 173,
  'CD Leganés': 174,
  'Club Atlético Banfield': 175,
  'Celtic': 176,
  'Vitória Guimarães': 177,
  'FC København': 178,
  'UD Las Palmas': 179,
  'Deportivo de La Coruña': 180,
  'Universidad Católica': 181,
  'San Lorenzo de Almagro': 182,
  'Rayo Vallecano': 183,
  'Monterrey': 184,
  'Columbus Crew SC': 185,
  'MKE Ankaragücü': 186,
  'Guizhou Hengfeng FC': 187,
  'Swansea City': 188,
  'Tianjin TEDA FC': 189,
  'Chongqing Dangdai Lifan FC SWM Team': 190,
  'AEK Athens': 191,
  'Al Taawoun': 192,
  'Melbourne City FC': 193,
  'En Avant de Guingamp': 194,
  'Akhisar Belediyespor': 195,
  'Foggia': 196,
  'LOSC Lille': 197,
  '1. FC Nürnberg': 198,
  'Clube Sport Marítimo': 199,
  'Real Sporting de Gijón': 200,
  'BB Erzurumspor': 201,
  'Shandong Luneng TaiShan FC': 202,
  'Club Atlético Colón': 203,
  'Bahia': 204,
  'Once Caldas': 205,
  'FC Groningen': 206,
  'Angers SCO': 207,
  'Paraná': 208,
  'Antalyaspor': 209,
  'Minnesota United FC': 210,
  'Club León': 211,
  'Empoli': 212,
  'VVV-Venlo': 213,
  'Leeds United': 214,
  'Viktoria Plzeň': 215,
  'Alanyaspor': 216,
  'Atlético Paranaense': 217,
  'Derby County': 218,
  'Kawasaki Frontale': 219,
  'Cardiff City': 220,
  'Aston Villa': 221,
  'Guadalajara': 222,
  'Dijon FCO': 223,
  'Santos Laguna': 224,
  'Málaga CF': 225,
  'Vitória': 226,
  'Çaykur Rizespor': 227,
  'U.N.A.M.': 228,
  'Nottingham Forest': 229,
  'Royal Antwerp FC': 230,
  'Club Tijuana': 231,
  'Sport Club do Recife': 232,
  'Real Salt Lake': 233,
  'AZ Alkmaar': 234,
  'SK Slavia Praha': 235,
  'Willem II': 236,
  'Middlesbrough': 237,
  'Dinamo Zagreb': 238,
  'Club Atlas': 239,
  'Granada CF': 240,
  'Sydney FC': 241,
  'Sporting Kansas City': 242,
  'SV Zulte-Waregem': 243,
  'Philadelphia Union': 244,
  'Real Oviedo': 245,
  'Pachuca': 246,
  'Boavista FC': 247,
  'Atiker Konyaspor': 248,
  'Kaizer Chiefs': 249,
  'GD Chaves': 250,
  'Palermo': 251,
  'Atlético Nacional': 252,
  'Puebla FC': 253,
  'Perth Glory': 254,
  'Panathinaikos FC': 255,
  'FC Sion': 256,
  'Vitória de Setúbal': 257,
  'New York Red Bulls': 258,
  'Al Shabab': 259,
  'Monarcas Morelia': 260,
  'Albacete BP': 261,
  'Rangers FC': 262,
  'Sparta Praha': 263,
  'Legia Warszawa': 264,
  'Urawa Red Diamonds': 265,
  'Rosario Central': 266,
  'Stade de Reims': 267,
  'ADO Den Haag': 268,
  'Chapecoense': 269,
  'FC Midtjylland': 270,
  'San Jose Earthquakes': 271,
  'Belgrano de Córdoba': 272,
  'Brescia': 273,
  'Kashima Antlers': 274,
  'CD Everton de Viña del Mar': 275,
  'Fortuna Düsseldorf': 276,
  'SD Huesca': 277,
  'Preston North End': 278,
  'Club Atlético Talleres': 279,
  'Benevento': 280,
  'Vitesse': 281,
  'Gimnasia y Esgrima La Plata': 282,
  'Houston Dynamo': 283,
  'Club Necaxa': 284,
  'Norwich City': 285,
  'Holstein Kiel': 286,
  'Ettifaq FC': 287,
  'Kayserispor': 288,
  '1. FC Heidenheim 1846': 289,
  'Brentford': 290,
  'Yeni Malatyaspor': 291,
  'Lobos BUAP': 292,
  'Bursaspor': 293,
  'Ceará Sporting Club': 294,
  'Sheffield United': 295,
  'FC Ingolstadt 04': 296,
  'Estudiantes de La Plata': 297,
  'AIK': 298,
  'Queens Park Rangers': 299,
  'Suwon Samsung Bluewings': 300,
  'Heart of Midlothian': 301,
  'Reading': 302,
  'FC Dallas': 303,
  'Heracles Almelo': 304,
  'Venezia FC': 305,
  'CD Lugo': 306,
  'Henan Jianye FC': 307,
  'Orlando City SC': 308,
  'CA Osasuna': 309,
  'NAC Breda': 310,
  'Livorno': 311,
  'Universidad de Chile': 312,
  'Brøndby IF': 313,
  'Aberdeen': 314,
  'Defensa y Justicia': 315,
  'Atlético Tucumán': 316,
  'Blackburn Rovers': 317,
  'SV Darmstadt 98': 318,
  'Moreirense FC': 319,
  'Sanfrecce Hiroshima': 320,
  'CD Numancia': 321,
  'KV Oostende': 322,
  'FC Utrecht': 323,
  'Vancouver Whitecaps FC': 324,
  'Odense Boldklub': 325,
  'SC Heerenveen': 326,
  'Racing Club de Lens': 327,
  'Independiente Santa Fe': 328,
  'Sporting de Charleroi': 329,
  'Millonarios FC': 330,
  'Sheffield Wednesday': 331,
  'Perugia': 332,
  'Daegu FC': 333,
  'Vélez Sarsfield': 334,
  'Grasshopper Club Zürich': 335,
  'Sivasspor': 336,
  'Nîmes Olympique': 337,
  'Rosenborg BK': 338,
  'SK Sturm Graz': 339,
  'FC Metz': 340,
  'CD Universidad de Concepción': 341,
  'Hellas Verona': 342,
  'Brisbane Roar': 343,
  'CD Feirense': 344,
  'Hull City': 345,
  'Waasland-Beveren': 346,
  'Neuchâtel Xamax': 347,
  'Real Zaragoza': 348,
  'CD Aves': 349,
  'Millwall': 350,
  'Unión de Santa Fe': 351,
  'KAS Eupen': 352,
  'Cádiz CF': 353,
  'FC Tokyo': 354,
  'CD Tenerife': 355,
  '1. FC Union Berlin': 356,
  'Al Fayha': 357,
  'AJ Auxerre': 358,
  'Patriotas Boyacá FC': 359,
  'Molde FK': 360,
  'Bristol City': 361,
  'CD Nacional': 362,
  'Sporting Lokeren': 363,
  'FC St. Pauli': 364,
  'Deportes Iquique': 365,
  'Al Qadisiyah': 366,
  'Atlético Bucaramanga': 367,
  'Club Atlético Tigre': 368,
  'FK Austria Wien': 369,
  'Patronato': 370,
  'Malmö FF': 371,
  'Kashiwa Reysol': 372,
  'US Cremonese': 373,
  'VfL Bochum 1848': 374,
  'SK Rapid Wien': 375,
  'KSV Cercle Brugge': 376,
  'Rionegro Águilas': 377,
  'Gimnàstic de Tarragona': 378,
  'Lecce': 379,
  'Santa Clara': 380,
  'BK Häcken': 381,
  'New England Revolution': 382,
  'Orlando Pirates': 383,
  'Atlético Huila': 384,
  'Western Sydney Wanderers': 385,
  'Kalmar FF': 386,
  'Independiente Medellín': 387,
  'Fortuna Sittard': 388,
  'Lech Poznań': 389,
  'Djurgårdens IF': 390,
  'CF Reus Deportiu': 391,
  'SK Brann': 392,
  'Ulsan Hyundai FC': 393,
  'Sint-Truidense VV': 394,
  'Carpi': 395,
  'Al Fateh': 396,
  'Royal Excel Mouscron': 397,
  'AC Ajaccio': 398,
  'PEC Zwolle': 399,
  'Sunderland': 400,
  'Club Atlético Aldosivi': 401,
  'US Salernitana 1919': 402,
  'FC Lorient': 403,
  'Argentinos Juniors': 404,
  'AD Alcorcón': 405,
  'Crotone': 406,
  'Excelsior': 407,
  'KV Kortrijk': 408,
  'IFK Norrköping': 409,
  'Adelaide United': 410,
  'FC St. Gallen': 411,
  'Tiburones Rojos de Veracruz': 412,
  'CD Palestino': 413,
  'Jeju United FC': 414,
  'Deportes Tolima': 415,
  'Jeonbuk Hyundai Motors': 416,
  'Birmingham City': 417,
  'América de Cali': 418,
  'La Equidad': 419,
  'Spezia': 420,
  'Aalborg BK': 421,
  'Le Havre AC': 422,
  'Górnik Zabrze': 423,
  'Central Coast Mariners': 424,
  'Wigan Athletic': 425,
  'Jagiellonia Białystok': 426,
  'Cittadella': 427,
  'Hibernian': 428,
  'FC Lugano': 429,
  'San Martín de San Juan': 430,
  'Strømsgodset IF': 431,
  'Júbilo Iwata': 432,
  "Newell's Old Boys": 433,
  'Al Faisaly': 434,
  'Colorado Rapids': 435,
  'IF Elfsborg': 436,
  'SV Sandhausen': 437,
  'Al Batin': 438,
  'Stade Brestois 29': 439,
  'UD Almería': 440,
  'Gyeongnam FC': 441,
  'Yokohama F. Marinos': 442,
  'Kilmarnock': 443,
  'Pescara': 444,
  'Newcastle Jets': 445,
  'Córdoba CF': 446,
  'RCD Mallorca': 447,
  'Hammarby IF': 448,
  'Cerezo Osaka': 449,
  'KFC Uerdingen 05': 450,
  'Shimizu S-Pulse': 451,
  'MSV Duisburg': 452,
  'Os Belenenses': 453,
  'DSC Arminia Bielefeld': 454,
  'Ipswich Town': 455,
  'FC Seoul': 456,
  'Lechia Gdańsk': 457,
  'Gamba Osaka': 458,
  'CF Rayo Majadahonda': 459,
  'LASK Linz': 460,
  'Bolton Wanderers': 461,
  'Al Raed': 462,
  'Extremadura UD': 463,
  'SC Paderborn 07': 464,
  'Wellington Phoenix': 465,
  'Unión Española': 466,
  'Alianza Petrolera': 467,
  'Cracovia': 468,
  'Gangwon FC': 469,
  'Elche CF': 470,
  'ESTAC Troyes': 471,
  'AS Béziers': 472,
  'La Berrichonne de Châteauroux': 473,
  'Clermont Foot 63': 474,
  '1. FC Magdeburg': 475,
  'Pohang Steelers': 476,
  'Örebro SK': 477,
  'Arka Gdynia': 478,
  'SG Dynamo Dresden': 479,
  'SpVgg Greuther Fürth': 480,
  'CD Huachipato': 481,
  'Wisła Kraków': 482,
  'Stabæk Fotball': 483,
  'Eintracht Braunschweig': 484,
  'Valenciennes FC': 485,
  'FC Thun': 486,
  'San Luis de Quillota': 487,
  ' SSV Jahn Regensburg': 488,
  'Cosenza': 489,
  'FC Nordsjælland': 490,
  'FC Erzgebirge Aue': 491,
  'Jeonnam Dragons': 492,
  'Wolfsberger AC': 493,
  'Chamois Niortais Football Club': 494,
  'Club Deportes Temuco': 495,
  'AS Nancy Lorraine': 496,
  'Red Star FC': 497,
  'Al Hazem': 498,
  'Pogoń Szczecin': 499,
  'Charlton Athletic': 500,
  'Grenoble Foot 38': 501,
  'FC Hansa Rostock': 502,
  'San Martin de Tucumán': 503,
  'Incheon United FC': 504,
  'Śląsk Wrocław': 505,
  'GFC Ajaccio': 506,
  '1. FC Kaiserslautern': 507,
  'Deportivo Pasto': 508,
  'Lincoln City': 509,
  'Motherwell': 510,
  'Rotherham United': 511,
  'Burton Albion': 512,
  'Wisła Płock': 513,
  'FC Wacker Innsbruck': 514,
  'Peterborough United': 515,
  'Ascoli': 516,
  'FC Zürich': 517,
  'Fleetwood Town': 518,
  'Padova': 519,
  'FC Sochaux-Montbéliard': 520,
  'SV Wehen Wiesbaden': 521,
  'Unión La Calera': 522,
  'Scunthorpe United': 523,
  "CD O'Higgins": 524,
  'CD Antofagasta': 525,
  'Plymouth Argyle': 526,
  'Aarhus GF': 527,
  'Lillestrøm SK': 528,
  'Karlsruher SC': 529,
  'GIF Sundsvall': 530,
  'FC Emmen': 531,
  'Barnsley': 532,
  'Audax Italiano': 533,
  'V-Varen Nagasaki': 534,
  'Paris FC': 535,
  'SpVgg Unterhaching': 536,
  'Hobro IK': 537,
  'De Graafschap': 538,
  'Hokkaido Consadole Sapporo': 539,
  'Tromsø IL': 540,
  'FC Luzern': 541,
  'FK Haugesund': 542,
  'Zagłębie Lubin': 543,
  'VfR Aalen': 544,
  'Dundalk': 545,
  'Oxford United': 546,
  'Piast Gliwice': 547,
  'Ohod Club': 548,
  'Östersunds FK': 549,
  'Vegalta Sendai': 550,
  'Crawley Town': 551,
  'FC Admira Wacker Mödling': 552,
  'Vålerenga Fotball': 553,
  'Dundee FC': 554,
  'Portsmouth': 555,
  'Envigado FC': 556,
  'Miedź Legnica': 557,
  'Odds BK': 558,
  'SC Fortuna Köln': 559,
  'US Orléans Loiret Football': 560,
  'Sarpsborg 08 FF': 561,
  'Jaguares de Córdoba': 562,
  'Bradford City': 563,
  'Accrington Stanley': 564,
  'St. Johnstone FC': 565,
  'Boyacá Chicó FC': 566,
  'Luton Town': 567,
  'SV Mattersburg': 568,
  'Kristiansund BK': 569,
  'Sangju Sangmu FC': 570,
  'Rochdale': 571,
  'Walsall': 572,
  'Korona Kielce': 573,
  'Shonan Bellmare': 574,
  'FC Würzburger Kickers': 575,
  'FSV Zwickau': 576,
  'St. Mirren': 577,
  'AC Horsens': 578,
  'Esbjerg fB': 579,
  'HJK Helsinki': 580,
  'Southend United': 581,
  'Bristol Rovers': 582,
  'Hamilton Academical FC': 583,
  'TSV 1860 München': 584,
  'Curicó Unido': 585,
  'SCR Altach': 586,
  'Ranheim Fotball': 587,
  'Stevenage': 588,
  'SG Sonnenhof Großaspach': 589,
  'Oldham Athletic': 590,
  'Milton Keynes Dons': 591,
  'FK Bodø/Glimt': 592,
  'SC Preußen Münster': 593,
  'Wycombe Wanderers': 594,
  'Vejle Boldklub': 595,
  'Bury': 596,
  'Randers FC': 597,
  'VfL Osnabrück': 598,
  'SønderjyskE': 599,
  'IFK Göteborg': 600,
  'Mansfield Town': 601,
  'Coventry City': 602,
  'Waterford FC': 603,
  'Shrewsbury': 604,
  'IK Start': 605,
  'Gillingham': 606,
  'FC Energie Cottbus': 607,
  'FC Carl Zeiss Jena': 608,
  'Hallescher FC': 609,
  'SV Meppen': 610,
  'AFC Wimbledon': 611,
  'Blackpool': 612,
  'Doncaster Rovers': 613,
  'Sandefjord Fotball': 614,
  'VfL Sportfreunde Lotte': 615,
  'Cheltenham Town': 616,
  'IK Sirius': 617,
  'Vendsyssel FF': 618,
  'Swindon Town': 619,
  'Notts County': 620,
  'SKN St. Pölten': 621,
  'Exeter City': 622,
  'Northampton Town': 623,
  'Shamrock Rovers': 624,
  'Colchester United': 625,
  'Livingston FC': 626,
  'TSV Hartberg': 627,
  'Tranmere Rovers': 628,
  'Cambridge United': 629,
  'Grimsby Town': 630,
  'Port Vale': 631,
  'Itagüí Leones FC': 632,
  'Forest Green Rovers': 633,
  'Dalkurd FF': 634,
  'Zagłębie Sosnowiec': 635,
  'Carlisle United': 636,
  'Trelleborgs FF': 637,
  "St. Patrick's Athletic": 638,
  'Morecambe': 639,
  'Cork City': 640,
  'IF Brommapojkarna': 641,
  'Crewe Alexandra': 642,
  'Yeovil Town': 643,
  'Bohemian FC': 644,
  'Macclesfield Town': 645,
  'Newport County': 646,
  'Sligo Rovers': 647,
  'Derry City': 648,
  'Limerick FC': 649,
  'Bray Wanderers': 650},
 'Preferred Foot': {'Left': 0, 'Right': 1},
 'Work Rate': {'Medium/ Medium': 0,
  'High/ Low': 1,
  'High/ Medium': 2,
  'High/ High': 3,
  'Medium/ High': 4,
  'Medium/ Low': 5,
  'Low/ High': 6,
  'Low/ Medium': 7,
  'Low/ Low': 8},
 'Position': {'RF': 0,
  'ST': 1,
  'LW': 2,
  'GK': 3,
  'RCM': 4,
  'LF': 5,
  'RS': 6,
  'RCB': 7,
  'LCM': 8,
  'CB': 9,
  'LDM': 10,
  'CAM': 11,
  'CDM': 12,
  'LS': 13,
  'LCB': 14,
  'RM': 15,
  'LAM': 16,
  'LM': 17,
  'LB': 18,
  'RDM': 19,
  'RW': 20,
  'CM': 21,
  'RB': 22,
  'RAM': 23,
  'CF': 24,
  'RWB': 25,
  'LWB': 26}}

In [51]:
range(len(df['Nationality'].unique()))

range(0, 163)